.landingBody {
  overflow: hidden;
}

body {
  background-color: aliceblue;
  font-family: "Poppins", sans-serif;
}

.backToCourses {
  position: absolute;
  height: 60px;
  width: 60px;
  left: 20px;
  top: 20px;
}

h5 {
  color: #383d52;
  position: absolute;
  left: 90px;
  top: 5px;
  font-size: 20px;
}

h5 a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 5%;
}

.logo {
  font-size: 40px;
  font-weight: 600;
  font-family: cursive;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.btn {
  background: #3498db;
  padding: 12px 25px;
  border-radius: 25px;
  color: #fff;
  transition: 0.5s;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  background-color: transparent;
  border: 4px solid #3498db;
  color: #000;
}

.container-geometry {
  border-radius: 25px;
  padding: 50px;
  font-size: larger;
  position: absolute;
  left: 250px;
  right: 250px;
  margin-top: 20px;
}

.upperImage {
  position: relative;
  margin-top: 100px;
  background-image: url('../img/kidsMath.jpg');
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

h1 {
  padding: 20px;
  color: #dc143c;
  font-size: 35px;
}

.circle1,
.circle2,
.circle3 {
  width: 250px;
  height: 250px;
  background: lightblue;
  border-radius: 50%;
  margin: 20px auto;
}

.circle1 {
  background: #dc143a;
}

.circle2 {
  background: #ffdb58;
  position: relative;
}

.circle2 .center {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle3 {
  background: #dc143c;
  position: relative;
}

#circleLines {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 300px;
}


.compass {
  height: 150px;
  width: 150px;
  position: absolute;
  left: -170px;
  top: 70px;

}

.sinus {
  height: 120px;
  width: 120px;
  position: absolute;
  right: -170px;
  top: 500px;
}

.abacus {
  height: 120px;
  width: 120px;
  position: absolute;
  left: -170px;
  top: 1300px;
}

.rulers {
  height: 110px;
  width: 110px;
  position: absolute;
  right: -170px;
  top: 1700px;
}

.protractor {
  height: 130px;
  width: 130px;
  position: absolute;
  left: -170px;
  top: 2200px;
}

.pizza {
  height: 120px;
  width: 120px;
  position: absolute;
  right: -170px;
  top: 3000px;
}

.quadrantIMG {
  height: 130px;
  width: 130px;
  position: absolute;
  left: -170px;
  top: 3500px;
}

.radius {
  position: relative;
  width: 4px;
  height: 50%;
  background-color: lightblue;
  margin: auto;
}

.diameter {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
  transform: translateY(-50%);
}

.semiCircle {
  background-color: #FF5733;
  clip-path: ellipse(50% 50% at 50% 100%);
  height: 350px;
  width: 350px;
  margin-top: -175px;
  margin-left: auto;
  margin-right: auto;
}

.quadrant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quadrant {
  border-style: solid;
  border-color: #eee;
  display: inline-block;
  height: 150px;
  width: 150px;
}

.top-left {
  border-top-left-radius: 100%;
  border-width: 4px 2px 2px 4px;
  background-color: #C70039;
}

.top-right {
  border-top-right-radius: 100%;
  border-width: 4px 4px 2px 2px;
  background-color: #3498db;
}

.bottom-left {
  border-bottom-left-radius: 100%;
  border-width: 2px 2px 4px 4px;
  background-color: aqua;
}

.bottom-right {
  border-bottom-right-radius: 100%;
  border-width: 2px 4px 4px 2px;
  background-color: chocolate;
}


.pie {
  overflow: hidden;
  position: relative;
  margin: 1em auto;
  border: dashed 1px;
  padding: 0;
  width: 32em;
  height: 32em;
  border-radius: 50%;
  list-style: none;
}


.slice1 {
  transform: rotate(15deg) skewY(-22.5deg);
}

.slice-contents {
  position: absolute;
  left: -100%;
  border-radius: 50%;
  background: lightblue;
}


.slice1 .slice-contents {
  transform: skewY(22.5deg);
}

.slice1:hover .slice-contents {
  background: violet;
}

.slice2 .slice-contents {
  background: orange;
}

.slice3 .slice-contents {
  background: green;
}

.slice4 .slice-contents {
  background: yellow;
}

.sliceWrapper {
  position: relative;
  border: 1px solid black;
  padding: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  margin: 20px auto;
}

.slice {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
}

.pie-slice {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
}

.pie-slice:nth-child(1) {
  transform: rotate(0deg) skewY(162deg);
}

.pie-slice:nth-child(2) {
  transform: rotate(72deg) skewY(162deg);
}

.pie-slice:nth-child(3) {
  transform: rotate(144deg) skewY(162deg);
}

.pie-slice:nth-child(4) {
  transform: rotate(216deg) skewY(162deg);
}

.pie-slice:nth-child(5) {
  transform: rotate(288deg) skewY(162deg);
}

.pie-slice:nth-child(1) .slice {
  background: green;
}

.pie-slice:nth-child(2) .slice {
  background: tomato;
}

.pie-slice:nth-child(3) .slice {
  background: aqua;
}

.pie-slice:nth-child(4) .slice {
  background: yellow;
}

.pie-slice:nth-child(5) .slice {
  background: blue;
}

.fr {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
}

.n {
  display: block;
}

.d {
  display: block;
  border-top: 1px solid black;
  margin-top: -1px;
}

.parallelogram {
  width: 300px;
  height: 150px;
  background-color: #dc143c;
  transform: skew(20deg);
  float: right;
  margin-left: 100px;
}

.rectangle {
  width: 400px;
  height: 200px;
  background-color: #3652AD;
  float: right;
  margin-left: 200px;
}

.square {
  width: 250px;
  height: 250px;
  background-color: #FF9800;
  float: right;
  margin-right: 40px;
}

.trapezoid {
  width: 200px;
  height: 100px;
  border-bottom: 200px solid tomato;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  float: right;
  margin-left: 100px;
}


.diamond {
  width: 0;
  height: 0;
  border: 150px solid transparent;
  border-bottom-color: red;
  position: absolute;
  top: -150px;
  left: 890px;
  margin-top: 3100px;

}

.diamond:after {
  content: '';
  position: absolute;
  left: -150px;
  top: 150px;
  width: 0;
  height: 0;
  border: 150px solid transparent;
  border-top-color: red;
}

.rulersp {
  position: absolute;
  height: 130px;
  width: 130px;
  left: -170px;
  top: 300px;
}

.geometric {
  position: absolute;
  height: 100px;
  width: 100px;
  right: -170px;
  top: 800px;
}

.think {
  position: absolute;
  height: 100px;
  width: 100px;
  left: -170px;
  top: 1400px;
}

.calculating {
  position: absolute;
  height: 130px;
  width: 130px;
  right: -170px;
  top: 2100px;
}

.mathematics {
  position: absolute;
  height: 100px;
  width: 100px;
  left: -170px;
  top: 3200px;
}

.geometryBook {
  position: absolute;
  height: 100px;
  width: 100px;
  right: -170px;
  top: 3500px;
}

p {
  font-size: 20px;
}

h2 {
  color: #3652AD;
}

h4 {
  color: #FF9800;
}

.headerFeedback {
  width: 100%;
}

.bodyFeedback {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  font-family: 'Poppins', sans-serif;
}

.sliderContainer {
  position: relative;
  margin-bottom: 100px;
  margin-top: -20px;
}


#slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0%, 0%, 0%, 0.25);
  max-width: 40rem;
}

#slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;

}

#sliderNav {
  display: flex;
  position: absolute;
  z-index: 1;
}

.form-box {
  background-color: #fff;
  box-shadow: 0 0 10px #3498db;
  padding: 15px;
  border-radius: 8px;
  width: 600px;
  align-items: center;
}


.radio-group {
  display: flex;
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  color: #3498db;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 10px;
  border-color: #3498db;
}


#previousFeedbacks {
  color: #3498db;
  position: absolute;
  left: 30px;
  top: 150px;
  text-align: left;
}

#feedbackh1 {
  color: #3498db;
  position: absolute;
  left: 30px;
  top: 800px;
  text-align: left;
}

#likeDislike {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
}

#feedback {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}

#satisfaction {
  height: 250px;
  width: 250px;
  position: absolute;
  bottom: -600px;
  right: 100px;
  transform: translateY(-50%);
}

.form-box {
  background-color: #fff;
  box-shadow: 0 0 10px #3498db;
  padding: 15px;
  border-radius: 8px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.content {
  padding: 90px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
}

.content .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left #mathletixperience {
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  padding-left: 150px;
  color: #3498db;
}

.left #dive {
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: -50px;
}

button {
  border: none;
  font-size: 20px;
  padding-bottom: 50px;
  justify-content: center;
}

.btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.right {
  width: 50%;
}

.right img {
  align-items: right;
  width: 200px;
  height: 200px;
  z-index: 2;
  position: relative;
}

.bigCircle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: lightblue;
  clip-path: circle(500px at right 900px);
}

.bigSquare {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 300px;
  height: 300px;
  background: #ffdb58;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transform: rotate(120deg);
}

.bigTriangle {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 280px solid #dc143c;
  position: absolute;
  bottom: 0;
  left: -190px;
  right: 0;
  margin: auto;
  transform: rotate(130deg);
}

.smallCircle1,
.smallCircle2,
.smallCircle3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  clip-path: circle(20px);

}

.smallCircle1 {
  top: -250px;
  left: 550px;
  background: #35C4C4;
}


.smallCircle2 {
  top: 80px;
  left: 250px;
  background: #ac3b61;
}

.smallCircle3 {
  top: -310px;
  left: 30px;
  background: #dc143c;
}

.smallSquare1 {
  position: absolute;
  background: transparent;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transform: rotate(90deg);
  width: 50px;
  height: 50px;
  background-color: #dc143c;
  transform: rotate(45deg);
  left: 370px;
  bottom: 640px;

}

.smallSquare2 {
  position: absolute;
  background: transparent;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transform: rotate(90deg);
  bottom: 500px;
  width: 50px;
  height: 50px;
  background-color: #ffdb58;
  transform: rotate(45deg);
  right: 450px;
}

.smallTriangle1 {
  position: absolute;
  background: transparent;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  transform: rotate(180deg);
  width: 0;
  height: 0;
  bottom: 500px;
  left: 800px;
  border-top: 60px solid #35C4C4;
  transform: rotate(-100deg);
}

.smallTriangle2 {
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 60px solid transparent;
  transform: rotate(180deg);
  width: 0;
  height: 0;
  bottom: 440px;
  right: 100px;
  border-top: 60px solid #dc143c;
  transform: rotate(-120deg);
}

.smallRectangle {
  position: absolute;
  height: 40px;
  width: 80px;
  background-color: #ffdb58;
  bottom: 320px;
  left: 600px;
  transform: rotate(20deg);
}